---

---

<section class="card">
    <div class="card-header">
        <h2 class="card-title">Título de la Tarjeta</h2>
    </div>
    <div class="card-body">
        <p>Contenido de la tarjeta</p>
    </div>
</section>

<style>
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        
    }
    .card-header {
        font-family: Montserrat;
        border: 2px solid white;
        color: aliceblue;
    }
    .card-body{
        border: 2px solid white;
    }
    h2{
        font-size: medium;
    }
    p{
        color: aqua;
        font-size: small;
    }
</style>
