---
---

<section class="container">
    <nav class="nav-bar">
        <div class="title-link">
            <a href="/">Menu Principal</a>
        </div>
        <div class="items">
            <a href="/">About</a>
            <a href="/">Experience</a>
            <a href="/">Skills</a>
            <a href="/">Projects</a>
        </div>
    </nav>
</section>

<style>
    .container{
        padding-top: 20px;
        width: 100%;
        position: fixed;
    }
    .nav-bar {
        display: flex;
        justify-content: space-between;
        gap: 100px;
        align-items: center;
    }
    .title-link{
        font-family: Pacifico, cursive;
        font-size: x-large;
    }
    .items{
        font-family: Montserrat;
        margin-right: 50px;
        /* text-align: left; */
    }
    a {
        color: #fff;
        text-decoration: none;
        padding-left: 10px;
    }
</style>
